#add-description {
    white-space: pre-wrap;
}

.add-submit-btn:hover {
    cursor: pointer;
}

.add-submit-btn {
    margin: 0px 10px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.05em;
    color: white;
    background-color: deepskyblue;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    padding: 7px;
    transition: all 0.25s ease;
}


.inputfile:focus + label,
.inputfile + label:hover {
    background-color: dodgerblue;
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.resMsgSuccess {
    color: green;
}

.resMsgFail {
    color: red;
}
